@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";

  --breakpoint-3xl: 1920px;

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --color-vercel-pink: oklch(0.65 0.2603 2.47);
  --color-vercel-blue: oklch(0.57 0.2145 258.25);
  --color-vercel-cyan: oklch(0.83 0.1333 174.96);
  --color-vercel-orange: oklch(0.78 0.1587 72.99);
  --color-vercel-violet: oklch(0.49 0.2275 300.45);
}

.spinner {
  background: conic-gradient(transparent 10deg, white, transparent 320deg);

  /* Mask to create a hollow center 🍩 */
  --border-size: 3px;
  mask-image: radial-gradient(
    closest-side,
    transparent calc(100% - var(--border-size)),
    white calc(100% - var(--border-size))
  );

  /* Animation:
     - opacity: render invisible and use animations to reveal spinner
     - fadeIn: fade in after delay to prevent flashes of UI on fast navigations 
     - rotate: rotate indefinitely while rendered */
  opacity: 0;
  animation:
    fadeIn 500ms 150ms forwards,
    rotate 1s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
